.places {
  width: 984px;
  margin: 92px auto 0 auto; 
  display: grid;
  grid-template-rows: repeat(5, min-content);
  gap: 80px;
}

@media screen and (max-width: 1085px) {
  .places {
    width: 90.625%;
  }
}

@media screen and (max-width: 989px) {
  .places {
    width: 93.75%;
    gap: 73px;
  }
}

@media screen and (max-width: 520px) {
  .places {
    width: 100%;
    gap: 50px;
  }
}