.places {
  width: 984px;
  margin: 92px auto 0 auto;
}

@media screen and (max-width: 1085px) {
  .places {
    width: 90.625%;
  }
}

@media screen and (max-width: 989px) {
  .places {
    width: 93.75%;
  }
}

@media screen and (max-width: 520px) {
  .places {
    width: 100%;
  }
}