.place__image {
  width: 460px;
  grid-area: photo;
}

@media screen and (max-width: 1100px) {
  .place__image {
    width: 440px;
  }
}

@media screen and (max-width: 920px) {
  .place__image {
    width: 340px;
  }
}

@media screen and (max-width: 750px) {
  .place__image {
    width: 100%;
  }
}