.cover__subtitle {
  position: absolute;
  width: 360px;
  top: 429px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  z-index: 100;
}
  
@media screen and (max-width: 1024px) {
  .cover__subtitle {
    top: 379px;
  }
}
  
@media screen and (max-width: 768px) {
  .cover__subtitle {
    top: 299px;
  }
}
  
  
@media screen and (max-width: 570px) {
  .cover__subtitle {
    top: 119px;
    width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}