.cover__subtitle {
  width: 360px;
  margin: 0 auto;
  padding: 32px 0 0 0;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  z-index: 100;
}
  
@media screen and (max-width: 570px) {
  .cover__subtitle {
    padding-top: 16px;
    width: 288px;
    font-size: 14px;
    line-height: 16px;
  }
}