.lead__title {
  margin: 0 auto;
  padding: 0;
  width: 720px;
  text-align: center;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
}

@media screen and (max-width: 720px) {
  .lead__title {
    width: 288px;
    height: 88px;
    font-size: 40px;
    line-height: 1.1;
  }
}