.lead__image-path {
  position: absolute;
  top: 14.67%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: calc(95% - 2*148px);
  z-index: 10;
}

@media screen and (max-width:1024px) {
  .lead__image-path {
    width: calc(95% - 2*48px);
  }
}

@media screen and (max-width:768px) {
  .lead__image-path {
    width: 95%;
  }
}