.lead__subtitle {
  margin: 32px auto 0 auto;
  padding: 0;
  width: 640px;
  text-align: center;
  font-size: 30px;
  line-height: 1.2;
}

@media screen and (max-width: 720px) {
  .lead__subtitle {
    margin: 16px auto 0 auto;
    width: 288px;
    font-size: 16px;
    line-height: 1.25;
  }
}