.place__link {
  margin: 0; 
  padding: 0;
  color: #fff;
  text-decoration: underline;
  font-size: 18px;
  line-height: 22px;
  transition: opacity .3s ease-out;
}

.place__link:hover {
  opacity: .8;
}