.header__lang-list {
  list-style: none;
  margin: 0;
  padding: 18px 0 0 0;
  font-size: 0;
  display: grid;
  gap: 18px;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
}

@media screen and (max-width:320px) {
  .header__lang-list {
    padding-top: 14px;
  }
}