.lead__caption {
  margin: 8px auto 0 auto;
  padding: 0;
  display: block;
  width: 984px;
  text-align: left;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
  
@media screen and (max-width:1085px) {
  .lead__caption {
    margin: 8px 0 0 48px;
    width: max-content;
  }
}
  
@media screen and (max-width:768px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}
  
@media screen and (max-width:420px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}